{
  "settings": {
    "react": {
      "pragma": "React"
    }
  },
  "extends": ["taro", "standard"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "React" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "taro/no-stateless-component": false
  },
  "parser": "babel-eslint"
}
